@import './reset.scss'; // 重置样式

.yoi-flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

// el-table 表格样式 和 表格自适应
.el-table {
  flex: 1;

  // 修复 safari 浏览器表格错位
  table {
    width: 100%;
  }

  // 解决表格数据为空时样式不居中问题[仅在element-plus中]
  .el-table__empty-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .table-empty {
      line-height: 30px;
    }
  }
}
